// Page: Content
// -----------------------------------------------------------------------------
.page__content {

}

.nav.navbar-nav{
	font-size: 1.5rem;
	font-weight: bold;
	/*font-family: Bebas+Neue;*/
	/* font-family: -webkit-body; */
	font-family: "'Source Sans Pro', sans-serif'";
}
